include:
  - project: 'y_zokirjon/infrastructure'
    ref: 'main'      
    file: '/ci-templates/deployer-front-v1.yml'

  - project: 'y_zokirjon/infrastructure'
    ref: 'main'
    file: '/ci-templates/notifier.yml'

variables:
  DOCKER_IMAGE: "recruit_front"

stages:
  - build
  - deploy
  - notify
  - cook

deploy:
  stage: deploy
  extends: .deploy_watcher



