include:
  - project: 'y_zokirjon/infrastructure'
    ref: 'main'      
    file: '/ci-templates/deployer-front-v1.yml'

variables:
  DOCKER_IMAGE: "recruit_front"
  
deploy:
  script:
    - echo "Running special deploy for Priziv..."
    - docker compose down
    - docker compose up -d --force-recreate
