.container-7xl {
  @apply mx-auto w-full max-w-7xl px-4;
}

.p-section {
  @apply py-12 md:py-20;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fast-fade-enter-active,
.fast-fade-leave-active {
  transition: 0.3s ease-in-out;
}

.fast-fade-enter-from,
.fast-fade-leave-to {
  opacity: 0;
}
