@import "ui-avatar.css";
@import "ui-badge.css";
@import "ui-button.css";
@import "ui-card.css";
@import "ui-date-picker.css";
@import "ui-dropdown.css";
@import "ui-form.css";
@import "ui-input.css";
@import "ui-link.css";
@import "ui-loading.css";
@import "ui-modal.css";
@import "ui-pagination.css";
@import "ui-select.css";
@import "ui-tab.css";
@import "ui-table.css";
@import "ui-tooltip.css";

html {
  scrollbar-gutter: stable;
}

.container-7xl {
    @apply mx-auto w-full max-w-7xl px-4;
}

.container-6xl {
    @apply mx-auto w-full max-w-6xl px-4;
}

.container-5xl {
    @apply mx-auto w-full max-w-5xl px-4;
}

.p-section {
    @apply py-12 md:py-20;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fast-fade-enter-active,
.fast-fade-leave-active {
    transition: 0.3s ease-in-out;
}

.fast-fade-enter-from,
.fast-fade-leave-to {
    opacity: 0;
}

.multiselect, .dp__input {
    @apply h-[54px] rounded-none;
}

.dp__input_wrap {
    @apply h-full;
}

.multiselect-placeholder {
    @apply text-black
}

.dp__input {
    @apply placeholder:text-black rounded-none
}
