.v-popper {
  @apply inline-block;
}

.v-popper--theme-tooltip {
  @apply overflow-hidden rounded-md shadow-sm backdrop-blur-2xl backdrop-saturate-[280%] !important;
}

.v-popper--theme-tooltip .v-popper__arrow-container {
  @apply hidden;
}

.v-popper--theme-tooltip .v-popper__inner {
  @apply rounded-none px-2 py-1 text-xs !important;
}
